body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}


/*--HEADER--*/

.main-navigation-list,
.top-user-menu,
.user-navigation,
.user-menu {
  list-style: none;
}

.main-navigation-list a,
.top-user-menu a,
.footer-menu-main a {
  color: #ffffff;
}

.user-navigation a {
  display: block;
  text-align: center;
  color: #000000;
}

.top-bar {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  padding: 0;
  background-color: #293449;
}

.top-bar .container {
  display: flex;
  flex-wrap: wrap;
}

.top-user-menu {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 450px;
  margin: 0;
  padding: 0;
}

.top-user-menu li {
  flex-basis: 150px;
  text-align: center;
}

.top-user-menu a {
  display: block;
  padding: 12px 0;
}

.logo {
  width: 220px;
  margin: 0;
  background-color: #ee3643;
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.logo img {
  margin: 13px 55px 8px;
}

.logo::after {
  position: absolute;
  top: 42px;
  content: "";
  display: block;
  width: 220px;
  height: 5px;
  background-color: #b52933;
}

.search-form {
  position: relative;
  flex-basis: 270px;
}

.search-form label::before {
  position: absolute;
  top: 12px;
  left: 17px;
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  background: url(../img/icon-search.svg) left no-repeat;
  opacity: 0.3;
}

.search-form:hover label::before {
  opacity: 1;
}

.search-form:active label::before {
  opacity: 0.5;
}

.search:focus~label::before {
  background: url(../img/icon-search.svg) right no-repeat;
  opacity: 1;
}

.search-form input {
  width: 100%;
  color: #ffffff;
  border: none;
  background: transparent;
}

.search-form input[type="search"] {
  height: 42px;
  line-height: 18px;
  padding: 11px 0 13px 49px;
}

.search-form input::placeholder {
  color: #ffffff;
}

.search-form input:hover {
  background-color: #212a3a;
}

.search-form input:focus {
  color: #000000;
  background-color: #ffffff;
}

.bookmarks a::before {
  content: "";
  display: inline-block;
  left: 17px;
  width: 14px;
  height: 16px;
  margin: -1px 13px -1px 17px;
  background: url(../img/icon-bookmark.svg) 0 50% no-repeat;
  opacity: 0.3;
}

.bookmarks a:hover::before,
.bookmarks a:focus::before {
  opacity: 1;
}

.bookmarks a:active::before {
  opacity: 0.5;
}

.cart a::before {
  content: "";
  display: inline-block;
  left: 15px;
  width: 15px;
  height: 16px;
  margin: -1px 13px -1px 0;
  background: url(../img/icon-cart.svg) 0 50% no-repeat;
  opacity: 0.3;
}

.cart a:hover::before,
.cart a:focus::before {
  opacity: 1;
}

.cart a:active::before {
  opacity: 0.5;
}

.top-user-menu a:hover,
.top-user-menu a:focus {
  background-color: #212a3a;
}

.top-user-menu a:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.not-empty a {
  background-color: #ee3643;
}

.not-empty a:hover,
.not-empty a:focus {
  background-color: #ca2c37;
}

.not-empty a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #ba2732;
}

.checkout a {
  background-color: #63a63e;
}

.checkout a:hover,
.checkout a:focus {
  background-color: #5fbb2d;
}

.checkout a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.top-content {
  font-family: "Cuprum", Arial, sans-serif;
  padding-bottom: 60px;
  background-color: #f4f7f9;
}

.shop-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 46px 0 35px 53px
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.registration-link {
  margin-left: 10px;
}

.registration-link a {
  padding: 12px 24px 11px;
}

.login-link a {
  padding: 12px 25px 11px 0;
}

.login-link a::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 17px;
  padding: 0 14px;
  background: url(../img/icon-login.svg) 50% no-repeat;
  opacity: 0.3;
}

.login-link a:hover::before,
.login-link a:focus::before {
  opacity: 1;
}

.login-link a:active::before {
  opacity: 0.5;
}

.user-name a {
  padding: 12px 25px 11px 0;
}

.user-name a:hover,
.user-name a:focus {
  color: #000000;
}

.user-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-name a::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 18px;
  margin: 0 14px;
  background: url(../img/icon-user.svg) left no-repeat;
}

.user-name a:hover::before,
.user-name a:focus::before {
  background: url(../img/icon-user.svg) right no-repeat;
}

.user-name a:active::before {
  opacity: 0.3;
}

.logout a {
  display: block;
  width: 40px;
  height: 45px;
  padding: 0;
}

.logout a::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 17px;
  margin: 14px 10px;
  background: url(../img/icon-logout.svg) left no-repeat;
}

.logout a:hover::before,
.logout a:focus::before {
  background: url(../img/icon-logout.svg) right no-repeat;
}

.logout a:active::before {
  background: url(../img/icon-logout.svg) left no-repeat;
}

.user-menu a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
  padding: 5px 16px 0 16px;
}

.user-menu a:hover,
.user-menu a:focus {
  color: #ee3643;
}

.user-menu a:active {
  color: rgba(50, 66, 92, 0.3);
}

.user-menu li {
  position: relative;
  margin-top: 5px;
}

.user-menu li:last-child::before {
  position: absolute;
  top: 9px;
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #32425b;
}

.shop-description {
  flex-basis: 200px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
  margin: 0;
  padding-top: 3px;
}

.header-contacts {
  flex-basis: 270px;
  margin-left: 67px;
}

.header-phone {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #ee3643;
  border: 3px solid #ffffff;
  padding: 9px 0 9px 21px;
  margin: 0;
  background: url(../img/icon-phone.svg) 12px 50% no-repeat;
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
  margin: 4px 0;
}

.user-nav-container {
  flex-grow: 1;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}

.user-navigation li {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.user-navigation li:first-child {
  margin-left: 0;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding-left: 53px;
}

.main-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;
}

.main-navigation a:hover,
.main-navigation a:focus {
  background-color: #293449;
}

.main-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 20px;
  margin: 0;
  box-shadow: inset 0 -5px 0 #293449;
}

.main-navigation-list a {
  display: block;
  padding: 20px 30px 23px;
}


/*--MAIN--*/

.promo-block,
.promo-items,
.catalog-items,
.brands,
.services-slider-controls,
.bookmark,
.partners-list,
.breadcrumbs-list,
.catalog-sorting-list,
.paginator {
  list-style: none;
}

.breadcrumbs {
  padding-top: 18px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.breadcrumbs-list a {
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.breadcrumbs-list a:hover,
.breadcrumbs-list a:focus {
  color: #000000;
  text-decoration: underline;
}

.breadcrumbs-list a:active {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.breadcrumbs-list li:not(.icon-home) {
  margin-right: 16px;
}

.breadcrumbs-list li:not(.icon-home)::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 12px;
  margin-right: 16px;
  background: url(../img/icon-right-small.svg) 50% no-repeat;
}

.icon-home a {
  display: inline-block;
  width: 14px;
  height: 12px;
  margin-right: 16px;
  background: url(../img/icon-home.svg) left no-repeat;
}

.icon-home a:hover,
.icon-home a:focus {
  background: url(../img/icon-home.svg) right no-repeat;
}

.icon-home a:active {
  opacity: 0.3;
}

.active-page a:hover,
.active-page a:focus {
  text-decoration: none;
}

.active-page a:active {
  color: #000000;
  text-decoration: none;
}

.btn {
  display: flex;
  justify-content: center;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
  padding: 10px 0;
  background-color: #ee3643;
}

.btn:hover,
.btn:focus {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.section-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-basis: 89px;
  color: #32425c;
  margin: 21px 0 20px;
  padding-left: 26px;
  background-color: #f2f6f8;
}

.goods {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 59px 10px 85px;
}

.promo-block {
  display: flex;
  justify-content: space-between;
  flex-basis: 409px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
}

.promo-block-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  flex-basis: 620px;
}

.promo-block-left .promo-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  height: 123px;
  margin: 0;
  padding: 0;
}

.promo-item {
  position: relative;
}

.promo-block-left .promo-item {
  flex-basis: 300px;
}

.promo-block-left .promo-item:first-child {
  margin: 0;
}

.promo-block-right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-basis: 300px;
  margin: 0;
  padding: 0;
}

.promo-block-right .promo-item {
  flex-basis: 123px;
}

.promo-item-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 20px 0 12px 23px;
}

.promo-block-btn {
  display: block;
  width: 135px;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;
  margin-left: 25px;
  padding: 11px 0 9px 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.promo-block-btn:hover,
.promo-block-btn:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-block-btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-first {
  background: #ffbf47 url(../img/icon-1.svg) no-repeat;
  background-position: right 43px top 31px;
}

.promo-second {
  background: #3bbce3 url(../img/icon-2.svg) no-repeat;
  background-position: right 28px top 33px;
}

.promo-third {
  background: #dc91d8 url(../img/icon-3.svg) no-repeat;
  background-position: right 31px top 31px;
}

.promo-fourth {
  background: #8ed78f url(../img/icon-4.svg) no-repeat;
  background-position: right 45px top 26px;
}

.promo-fifth {
  background: #ffc047 url(../img/icon-5.svg) no-repeat;
  background-position: right 32px top 31px;
}

.slide-img {
  margin: 0;
}

.slide-img img {
  vertical-align: top;
}

.slide {
  position: absolute;
}

.slide-text {
  position: absolute;
  top: 0;
}

.slide-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 23px 0 0 25px;
}

.slide-subtext {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin: 1px 0 0 25px;
}

.slide-link {
  position: absolute;
  bottom: 22px;
  left: 25px;
  padding: 10px 48px;
}

.slider {
  position: relative;
  flex-basis: 266px;
}

.slider button {
  cursor: pointer;
}

.slider-toggles,
.slider-controls {
  position: absolute;
  z-index: 4;
}

.slider-controls {
  bottom: 33px;
  left: 50%;
}

.slider-toggles {
  display: flex;
  justify-content: space-between;
  top: 114px;
  width: 620px;
}

.slider-toggles button,
.slider-controls button {
  padding: 5px;
  border: none;
}

.slider-previous {
  width: 22px;
  height: 40px;
  margin-left: 25px;
  background: url(../img/icon-left.svg) 50% no-repeat;
}

.slider-next {
  width: 22px;
  height: 40px;
  margin-right: 25px;
  background: url(../img/icon-right.svg) 50% no-repeat;
}

.slider-btn {
  border-radius: 50%;
  background-color: #ffffff;
}

.slider-btn.active-slide {
  background-color: #ee3643;
  box-shadow: inset 0 0 0 2px #ffffff;
}

.slider-btn:not(:first-child) {
  margin-left: 7px;
}

.section-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.popular-goods-block {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.popular-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-basis: 89px;
  color: #32425c;
  margin: 21px 0 0;
  padding: 0 24px 0 28px;
  background-color: #f9f5f0;
}

.popular-btn {
  width: 253px;
}

.main-catalog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.catalog-content {
  display: flex;
}

.filter-header,
.catalog-sorting-list {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 3px;
  margin: 0;
  padding: 10px 19px;
}

.catalog-sorting,
.catalog-filter .filter-header {
  background-color: #f7f3ec;
}

.sorting-type {
  border-bottom: 1px dotted #ee3643;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-type:hover,
.sorting-type:focus {
  border-bottom: 1px solid #ee3643;
  color: #000000;
}

.sorting-type:active,
.sort-active {
  border-bottom: none;
  color: #ee3643;
}

.sorting-arrows {
  margin-left: 27px;
  padding: 6px 0 8px;
}

.sorting-arrows a {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-width: 10px 5.5px;
}

.sorting-arrows a:first-child {
  margin-right: 18px;
}

.sorting-arrows .sorting-up {
  border-top: 0;
  border-bottom-color: #c5c5c5;
}

.sorting-arrows .sorting-up:hover,
.sorting-arrows .sorting-up:focus {
  border-bottom-color: #000000;
}

.sorting-up.sorting-active {
  border-top: 0;
  border-bottom-color: #ee3643;
}

.sorting-arrows .sorting-down {
  border-bottom: 0;
  border-top-color: #c5c5c5;
}

.sorting-arrows .sorting-down:hover,
.sorting-arrows .sorting-down:focus {
  border-top-color: #000000;
}

.sorting-down.sorting-active {
  border-top: 0;
  border-bottom-color: #ee3643;
}

.filters {
  text-transform: uppercase;
}

.filters fieldset {
  margin: 0;
  padding: 0 0 25px;
}

.filter-price,
.filter-manufacturer {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #e5e5e5;
}

.filter-power {
  border: none;
}

.catalog-filter {
  flex-basis: 220px;
}

.filter-title {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  padding: 16px 0 13px 0;
}

.filter-price .filter-title {
  padding-top: 11px;
}

.filter-item-title {
  font-size: 15px;
  line-height: 20px;
  cursor: pointer;
}

.filter-item-title:not(:first-of-type) {
  margin-top: 15px;
}

.filter-item-title::before {
  content: "";
  display: inline-block;
  width: 34px;
  height: 25px;
  vertical-align: middle;
}

.checkbox+.filter-item-title::before {
  background: url(../img/checkbox.svg) top left no-repeat;
}

.checkbox:checked+.filter-item-title::before {
  background: url(../img/checkbox.svg) bottom left no-repeat;
}

.checkbox:hover+.filter-item-title::before,
.checkbox:focus+.filter-item-title::before {
  background: url(../img/checkbox.svg) top right no-repeat;
}

.checkbox:checked:hover+.filter-item-title::before,
.checkbox:checked:focus+.filter-item-title::before {
  background: url(../img/checkbox.svg) bottom right no-repeat;
}

.checkbox:disabled+.filter-item-title::before,
.checkbox:disabled:hover+.filter-item-title::before {
  background: url(../img/checkbox.svg) top left no-repeat;
  opacity: 0.3;
}

.checkbox:checked:disabled+.filter-item-title::before,
.checkbox:checked:disabled:hover+.filter-item-title::before {
  background: url(../img/checkbox.svg) bottom left no-repeat;
  opacity: 0.3;
}

.radio+.filter-item-title::before {
  background: url(../img/radio.svg) top left no-repeat;
}

.radio:checked+.filter-item-title::before {
  background: url(../img/radio.svg) bottom left no-repeat;
}

.radio:hover+.filter-item-title::before,
.radio:focus+.filter-item-title::before {
  background: url(../img/radio.svg) top right no-repeat;
}

.radio:checked:hover+.filter-item-title::before,
.radio:checked:focus+.filter-item-title::before {
  background: url(../img/radio.svg) bottom right no-repeat;
}

.radio:disabled+.filter-item-title::before,
.radio:disabled:hover+.filter-item-title::before {
  background: url(../img/radio.svg) top left no-repeat;
  opacity: 0.3;
}

.radio:checked:disabled+.filter-item-title::before,
.radio:checked:disabled:hover+.filter-item-title::before {
  background: url(../img/radio.svg) bottom left no-repeat;
  opacity: 0.3;
}

.manufacturer-list,
.power-type-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.filter-submit {
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  margin-top: 49px;
  padding: 10px 39px 8px 38px;
  background: transparent;
  cursor: pointer;
}

.filter-submit:hover,
.filter-submit:focus {
  border-color: #bdc6ca;
}

.filter-submit:active {
  border-color: #ee3643;
}

.price-controls {
  position: relative;
  border-radius: 4px;
  padding: 39px 20px;
  background-color: #f7f3ec;
}

.scale {
  height: 2px;
  background-color: #d7dcde;
}

.scale-bar {
  width: 151px;
  height: 2px;
  background-color: #00ca74;
}

.price-toggle {
  position: absolute;
  width: 20px;
  height: 22px;
  background: url(../img/filter-button.svg);
  cursor: pointer;
}

.min-price-toggle {
  top: 30px;
  left: 20px;
}

.max-price-toggle {
  top: 30px;
  right: 40px;
}

.price-input-container {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 9px;
}

.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price-input[type='number'] {
  -moz-appearance: textfield;
}

.price-input {
  width: 95px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  border: none;
  border-radius: 3px;
  padding: 9px 0 11px;
  background-color: #f7f3ec;
}

.price-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 30px;
}

.catalog-inner {
  flex-basis: 720px;
}

.catalog-sorting {
  display: flex;
  border-radius: 3px;
  margin: 0 0 0 20px;
}

.catalog-sorting-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-basis: 354px;
  margin: 0 0 0 102px;
}

.catalog-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.catalog-inner .catalog-items {
  margin-left: 20px;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 218px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  border: 1px solid #e5e5e5;
  margin: 20px 20px 0 0;
  background-color: #ffffff;
}

.catalog-item a {
  flex-grow: 1;
}

.popular-goods-block .catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-inner .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.new-item::before {
  position: absolute;
  top: -1px;
  right: 0;
  z-index: 3;
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background: url(../img/new-flag.png) 50% no-repeat;
}

.catalog-items .new-item::before {
  top: -2px;
  right: -1px;
}

.catalog-item-img {
  margin: 0;
  padding: 0;
}

.catalog-item:hover,
.catalog-item:active {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-item-title {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin: 11px 0;
  padding: 0 30px;
  color: #000000;
}

.old-price {
  text-decoration: line-through;
  text-align: center;
  margin: 0 0 10px;
  color: #a9a9a9;
}

.current-price {
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  margin: 0 auto 20px;
  padding: 10px 0;
  width: 141px;
  background: url(../img/red-button.svg) no-repeat;
}

.catalog-item-links {
  display: none;
}

.catalog-item:hover .catalog-item-links,
.catalog-item:focus .catalog-item-links {
  position: absolute;
  z-index: 2;
  display: block;
  padding: 43px 41px 43px 41px;
  background-color: #ffffff;
}

.catalog-item-links a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.buy {
  display: block;
  color: #ffffff;
  border-radius: 3px;
  padding: 10px 45px 10px 14px;
  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 #367315;
}

.buy:hover,
.buy:focus {
  background-color: #5fbb2d;
}

.buy:active {
  background-color: #518534;
}

.buy::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 20px;
  background: url(../img/icon-cart.svg) 50% no-repeat;
  opacity: 0.3;
}

.buy:hover::before,
.buy:focus::before,
.buy:active::before {
  opacity: 1;
}

.bookmark {
  display: block;
  color: #32425c;
  border: 3px solid #63a63e;
  border-radius: 3px;
  margin-top: 8px;
  padding: 7px 29px 7px 33px;
}

.bookmark:hover,
.bookmark:focus {
  border-color: #32425c;
}

.bookmark:active {
  color: rgba(50, 66, 92, 0.3);
  border-color: #c1c6ce;
}

.paginator {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 20px 55px;
  ;
  padding: 0;
}

.paginator li {
  margin-right: 10px;
}

.paginator .next-page {
  padding: 0 31px;
}

.paginator a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 38px;
  height: 38px;
  line-height: 18px;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #ffffff;
}

.paginator a:hover,
.paginator a:focus {
  border-color: #bdc6ca;
}

.paginator a:active {
  border-color: #ee3643;
}

.current-page a,
.current-page a:hover,
.current-page a:active {
  border-color: #ee3643;
  color: #ffffff;
  background-color: #ee3643;
}

.popular-brands {
  display: flex;
  flex-direction: column;
}

.brands {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.brand-item {
  margin: 20px 20px 0 0;
  padding: 0;
  background-color: #ffffff;
}

.brand-item:nth-child(4n) {
  margin-right: 0;
}

.brand-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 143px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
}

.brand-item a:hover,
.brand-item a:focus {
  border-color: #ffffff;
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brand-item a:active {
  border-color: #ffffff;
  box-shadow: 0 4px 10px 0 rgb(41, 52, 73);
  opacity: 0.3;
}

.description-text {
  margin: 0;
}

.about-catalog-section .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 65px 10px 68px;
}

.catalog-section-description {
  padding-top: 26px;
}

.services {
  background-color: #f4f7f9;
}

.services .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 65px 10px 70px;
}

.services-into {
  width: 400px;
  margin: 26px 0 12px;
}

.about-catalog-section {
  background-color: #f2f6f8;
}

.services-slider {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.services-slider-btn a {
  display: block;
  width: 218px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  border-top: 1px solid #4e637c;
  border-bottom: 1px solid #293449;
  padding: 12px 0 18px 22px;
  background-color: #32425c;
}

.services-slider-btn a:hover,
.services-slider-btn a:focus {
  color: #ffffff;
  border-bottom: 1px solid #293449;
  background-color: #293449;
}

.checked-slide a,
.services-slider-btn a:active {
  color: #32425c;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  background-color: #ffffff;
}

.services-slider-controls {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-basis: 240px;
  margin: 0;
  padding: 32px 0;
}

.services-slides {
  position: relative;
  display: flex;
  flex-basis: 700px;
}

.services-slides::before {
  position: absolute;
  top: -10px;
  left: -10px;
  content: "";
  width: 10px;
  height: 272px;
  background: url(../img/services-slider-controls_shadow-right.png) right no-repeat;
}

.service-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #32425c;
  margin: 0 0 25px;
}

.slide-delivery {
  display: none;
  background: #f4f7f9 url(../img/delivery-cover.png) top 38px right no-repeat;
}

.slide-guarantee {
  display: none;
  background: #f4f7f9 url(../img/guarantee-cover.png) top 38px right no-repeat;
}

.slide-credit {
  display: none;
  background: #f4f7f9 url(../img/credit-cover.png) top 38px right no-repeat;
}

.services-slide {
  display: block;
  flex-basis: 620px;
  padding: 30px 0 0 80px;
}

.credit-request {
  width: 195px;
  margin-top: 26px;
  background-color: #ff5357;
}

.slide-description {
  margin: 0;
}

.about .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 79px;
  padding-bottom: 74px;
}

.about-text {
  margin: 26px 0 0;
}

.about-text:not(:first-of-type) {
  margin: 24px 0 0;
}

.partners-text {
  margin: 0;
}

.about-company {
  flex-basis: 540px;
}

.about-btn {
  width: 220px;
}

.partners-list {
  flex-basis: 100%;
  margin: 22px 0 37px;
  padding-left: 36px;
}

.partners-list li {
  position: relative;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
}

.partners-list li:not(:first-child) {
  margin-top: 19px;
}

.about-contacts {
  flex-basis: 300px;
}

.partners-list li::before {
  position: absolute;
  top: 9px;
  left: -36px;
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}


/*--FOOTER--*/

.main-footer {
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  flex-direction: column;
}

.footer-menu-main,
.footer-menu-add,
.social {
  list-style: none;
}

.footer-nav .container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 42px;
}

.footer-brand-container {
  flex-basis: 330px;
}

.footer-nav {
  font-size: 18px;
  line-height: 24px;
  background-color: #32425c;
  box-shadow: inset 0 1px 0 #384760;
}

.footer-nav a:hover,
.footer-nav a:focus {
  text-decoration: underline;
}

.footer-logo {
  display: block;
  width: 220px;
  height: 68px;
  margin: 0;
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 #b52933;
}

.footer-logo:hover,
.footer-logo:focus {
  background-color: #ca2c37;
}

.footer-logo:active {
  background-color: #ba2732;
}

.footer-logo img {
  margin: 21px 41px 26px;
}

.footer-address {
  margin: 0;
  padding-top: 28px;
}

.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 610px;
  padding-top: 37px;
}

.footer-menu-main,
.footer-menu-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0 0 33px 0;
}

.footer-menu-main li,
.footer-menu-add li {
  padding-left: 59px;
}

.footer-menu-main a:active {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.footer-menu-add a {
  color: #ffd180;
}

.footer-menu-add a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.copy-social {
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
}

.copy-social .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 30px;
}

.copy {
  flex-basis: 276px;
  margin-top: 2px;
}

.copy-text {
  margin: 0;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  margin: 0 30px;
  padding: 0;
}

.social li:not(:first-child) {
  margin-left: 5px;
}

.feedback {
  display: flex;
  flex-basis: 300px;
  margin: 2px 0 0 0;
}

.feedback-link {
  margin: 0;
}

.feedback-link:last-child {
  margin-left: 52px;
}

.feedback-link a {
  color: #ffd180;
}

.feedback-link a:hover,
.feedback-link a:focus {
  color: #ffd180;
  text-decoration: underline;
}

.feedback-link a:active {
  color: #ee3643;
  text-decoration: none;
}

.social a {
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #212a3a;
}

.social a:hover,
.social a:focus,
.social a:active {
  background-color: #ee3643;
}

.vk {
  background: url(../img/icon-vk.svg) 50% no-repeat;
}

.fb {
  background: url(../img/icon-fb.svg) 50% no-repeat;
}

.insta {
  background: url(../img/icon-insta.svg) 50% no-repeat;
}


/*--MODAL--*/

.modal {
  position: relative;
  top: 0;
  display: none;
}

.modal-show {
  display: block;
  animation: bounce 0.5s;
}

.modal-map {
  position: fixed;
  top: 25%;
  left: 50%;
  z-index: 5;
  width: 940px;
  height: 446px;
  margin-left: -470px;
  box-shadow: 0 0 16px 4px rgba(47, 42, 43, 0.3);
}

.modal-write-us {
  position: fixed;
  top: 25%;
  left: 50%;
  z-index: 5;
  margin-left: -310px;
}

.modal-cart {
  position: fixed;
  top: 25%;
  left: 50%;
  z-index: 5;
  margin-left: -310px;
  box-shadow: 0 -7px 0 #ff5357, 0 0 16px 4px rgba(47, 42, 43, 0.3);
}

.modal-sect {
  width: 458px;
  padding: 48px 81px 49px;
  background-color: #ffffff;
}

.modal-cart-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
}

.modal-cart-title::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 66px;
  height: 66px;
  margin-right: 32px;
  background: url(../img/icon-mark.svg) 50% no-repeat;
}

.contact-form {
  background-color: #ffffff;
  box-shadow: 0 -7px 0 #ff5357, 0 30px 50px 15px rgba(0, 0, 0, 0.5);
}

.contact-form-label {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 9px;
}

.input-sect,
.text-sect {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin: 0;
}

.text-sect {
  margin-top: 20px;
}

.input-sect:nth-child(2n) {
  margin-left: 20px;
}

.message-field {
  max-width: 428px;
  width: 428px;
  height: 94px;
}

.send-message {
  width: 100%;
  border: none;
  cursor: pointer;
}

.about-contacts .about-text {
  width: 220px;
}

.contacts-map {
  display: block;
  margin: 31px 0 40px;
}

.contacts-map img {
  vertical-align: top;
}

.write-us {
  width: 300px;
}

.form-sect {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  padding: 46px 80px 37px;
  background-color: #ffffff;
}

.submit-sect {
  width: 460px;
  padding: 37px 80px;
  background-color: #f4f4f4;
}

.order-sect {
  display: flex;
  flex-wrap: wrap;
  padding: 37px 80px;
  background-color: #f1f1f1;
}

.order-sect .btn {
  width: 220px;
}

.input,
.message-field {
  font-size: 13px;
  line-height: 18px;
  border: 2px solid #dee3e4;
  border-radius: 3px;
  padding: 8px 14px;
}

.input:hover,
.message-field:hover {
  border-color: #b5b5b5;
}

.input:focus,
.message-field:focus {
  border-color: #ee3744;
}

.input::placeholder,
.message-field::placeholder {
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.continue-shopping {
  width: 220px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  margin-left: 20px;
  padding: 10px 0;
  background-color: #ffffff;
}

.continue-shopping:hover,
.continue-shopping:focus {
  color: #ee3643;
}

.continue-shopping:active {
  color: rgba(0, 0, 0, 0.3);
}

.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;
  border: none;
  background: url(../img/icon-close.svg) left no-repeat;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  outline: none;
  background: url(../img/icon-close.svg) center no-repeat;
}

.modal-close:active {
  outline: none;
  background: url(../img/icon-close.svg) right no-repeat;
}

@keyframes bounce {
  0% {
    transform: translateY(800px);
  }
  70% {
    transform: translateY(-20px);
  }
  90% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}